<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760662597485-j014f4m6itull6q0i8koj7ueggp4p6l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760662597485-j014f4m6itull6q0i8koj7ueggp4p6l0</string>
	<key>API_KEY</key>
	<string>AIzaSyBLNOqStAJ0zx6YYjm6zpGnaWCpGByARQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>760662597485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sdp2</string>
	<key>PROJECT_ID</key>
	<string>sdp-2-dc684</string>
	<key>STORAGE_BUCKET</key>
	<string>sdp-2-dc684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760662597485:ios:f7f615cb0e82f189f4c464</string>
</dict>
</plist>